{% extends 'base.html' %}

{% block title %}About us - AfriDrop{% endblock %}

{% block styles %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
 <link rel="stylesheet" href="{{ url_for('static', filename='styles/about_us.css') }}">
{% endblock %}

{% block content %}

<!-- About Section -->
  <section class="about-section">
    <div class="container" style="background-color: #682860; border-radius: 10px; padding-top: 20px">
      <div class="row">
        <div class="col-lg-8 mx-auto">
		<h2 class="section-heading" style="color: white; font-family: Copperplate, Papyrus, fantasy;"><b>About Us</b></h2>
          <p class="text-muted" style="padding-top: 20px; color: #d8bfd8 !important;">We serve as a platform for vendors to advertise their products and services. The name "AfriDrop" is inspired by the African continent "Afri" and the concept of delivering services at your convenience "Drop". Our platform allows vendors to showcase their offerings, and customers can easily browse, view, and purchase products and services.</p>
        </div>
      </div>
    </div>
  </section>

<!-- Team Section -->
  <section class="team-section">
    <div class="container">
	    <h2 class="section-heading text-center mb-5" style="font-family: Copperplate, Papyrus, fantasy;"><b>AfriDrop Team</b></h2>
      <div class="row">
        <!-- Team Member 1 --> 
        <div class="col-lg-4 team-member">
	<div class="card-body" style="background: white; border-radius: 10px;">
	 <img src="https://cdn4.vectorstock.com/i/1000x1000/13/53/male-avatar-profile-picture-purple-member-vector-5351353.jpg" alt="User Image" class="rounded-circle img-fluid" width="140" height="140" style="padding-top: 15px;">
		<h4>Lawrence Siro</h4>
          <p class="text-muted">Socials</p>
	  <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-github"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
	</div>
        </div>

        <!-- Team Member 2 -->
        <div class="col-lg-4 team-member">
	<div class="card-body" style="background: white; border-radius: 10px;">
	 <img src="https://cdn1.vectorstock.com/i/1000x1000/15/60/female-avatar-profile-picture-purple-member-vector-5351560.jpg" alt="User Image" class="rounded-circle img-fluid" width="140" height="140" style="padding-top: 15px;">
		<h4>Winfred Mumbi</h4>
	   <p class="text-muted">Socials</p>
	   <div class="social-icons">
             <a href="#" target="_blank"><i class="fab fa-github"></i></a>
             <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
             <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
           </div>
	</div>
	</div>

        <!-- Team Member 3 -->
        <div class="col-lg-4 team-member">
	 <div class="card-body" style="background: white; border-radius: 10px;">
	  <img src="https://cdn1.vectorstock.com/i/1000x1000/15/60/female-avatar-profile-picture-purple-member-vector-5351560.jpg" alt="User Image" class="rounded-circle img-fluid" width="140" height="140" style="padding-top: 15px;">
          <h4>Ami Choudhary</h4>
	  <p class="text-muted">Socials</p>
	  <div class="social-icons">
            <a href="#" target="_blank"><i class="fab fa-github"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
	</div>
      </div>
  </section>

{% endblock %}
