{% extends 'base.html' %}

{% block title %}Reset Password - AfriDrop{% endblock %}

{% block styles %}
 <link rel="stylesheet" href="{{ url_for('static', filename='styles/reset_password.css') }}">
{% endblock %}

{% block content %}
    <div class="card">
       <div class="card-body">
	       <h2 class="card-title" style="text-align: center"><b>Reset Password</b></h2>
          {% with form=form, action=url_for("forgot_password"), method="POST", submit_text="Submit"  %}
          {% include 'form.html' %}
          {% endwith %}
       </div>
    </div>
{% endblock %}
