{% extends 'base.html' %}

{% block title %}Timeline - Your Website{% endblock %}

{% block content %}
    <div class="container mt-5">
        <!-- Search Bar -->
        <div class="row justify-content-center mb-3">
            <div class="col-sm-12 col-md-6">
                <form class="form-inline">
                    <div class="input-group rounded-pill w-100">
                        <input type="search" class="form-control rounded-pill w-75" placeholder="Search" aria-label="Search">
			<div class="input-group-append">
                            <span class="input-group-text bg-transparent border-0"><i class="fas fa-search text-dark"></i></span>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        {% for post in timeline_data %}
            <div class="card mb-4">
                <div class="card-body rounded">
                    <div class="d-flex align-items-center">
                        <img src="{{ post['user_image_url'] }}" alt="User Image" class="rounded-circle mr-2" width="40" height="40">
                        <div>
                            <h5 class="card-title">{{ post['user'] }}</h5>
                        </div>
                    </div>
                    {% if post.get('image_url') %}
			<div class="mt-3">
	                        <img src="{{ post['image_url'] }}" alt="Post Image" class="custom-image mx-auto d-block mb-3 img-fluid">
			</div> 
                   {% endif %}
                    <p class="card-text">{{ post['content'] }}</p>
                    <p class="card-subtitle text-muted mb-2">{{ post['timestamp'] }}</p>
                </div>
                <div class="card-footer">
		    <i class="far fa-thumbs-up text-primary mr-2">&nbsp;{{ post['likes'] }}</i>
		    <span class="ml-2"></span>
		    <i class="far fa-eye text-secondary mr-2">&nbsp;{{ post['views'] }}</i>
                    <span class="ml-2"></span>
		    <i class="far fa-thumbs-down text-danger mr-2">&nbsp;{{ post['dislikes'] }}</i>
                    <span class="ml-2"></span>
		    <i class="fas fa-share text-success"></i> Share
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
