.about-section {
      padding-bottom: 20px;
      text-align: center;
      font-family: Arial;
}

.team-section {
      padding: 60px 0;
      background-color: #d8bfd8;
      border-radius: 10px;
      font-family: Arial;
      margin-bottom: 30%;
}

.team-member {
      text-align: center;
      margin-bottom: 30px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

.social-icons i {
    font-size: 40px;
    color: purple;
    margin-bottom: 10px;
  }
